<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">

        <img src="images/starling.jpg">
        <h1>Starling</h1>

        <form class="uk-panel uk-panel-box uk-form">
            <div class="uk-form-row">
                <input ng-model="username" name="username" class="uk-width-1-1 uk-form-large" type="text" placeholder="Username">
                <input ng-model="password" name="password" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password">
            </div>
            <div class="uk-form-row">
                <input type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" ng-click="login()" value="Login" />
                <a class="uk-width-1-1 uk-button uk-button-secondary uk-button-large" ng-click="signup()">Signup</a>
            </div>
            <div class="uk-form-row" ng-show="error">
              <div class="uk-alert uk-alert-danger">{{error}}</div>
            </div>
        </form>

    </div>
</div>
