 <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small" href="/">Starling</a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li>
                <a ui-sref="main.user">Me</a>
            </li>
            <li>
                <a ui-sref="main.profiles">Profiles</a>
            </li>
            <li>
                <a ng-click="logout()">Logout: {{username}}</a>
            </li>
        </ul>
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Starling</div>
    </nav>

    <div class="container uk-height-1-1" ui-view></div>
</div>
