
<div class="uk-grid uk-container-center">
    <div class="uk-width-1-1 uk-container-center posts">
        <h2>Users</h2>
        <ul>
            <li ng-repeat="user in users | orderBy : 'createdAt' : true"><a ui-sref="main.profile({profileId: user.objectId})">{{user.username}}</a></li>
        </ul>
    </div>
</div>
