
<div class="uk-grid uk-container-center">
    <div class="uk-width-1-1" style="width: 100%;">

        <div class="uk-vertical-align uk-text-center" back-img="{{photo.url}}" style="background: #EEEEEE; height: 150px;">
            <div class="banner uk-vertical-align-middle uk-width-1-2">
                <h1 class="uk-heading-large">{{user.username}}</h1>
            </div>
        </div>

    </div>
    <div class="uk-width-1-1 uk-container-center posts">
        <h2>Posts</h2>
        <ul>
            <li ng-repeat="post in posts | orderBy : 'createdAt' : true"><strong>{{post.createdAt | date:'medium'}}</strong> {{post.text}}</li>
        </ul>
    </div>
</div>
