
<div class="uk-grid uk-container-center">
    <div class="uk-width-1-1" style="width: 100%;">

        <div class="uk-vertical-align uk-text-center" back-img="{{photo.url}}" style="background: #EEEEEE; height: 150px;">
            <div class="banner uk-vertical-align-middle uk-width-1-2">
                <h1 class="uk-heading-large">Hi, {{username}}</h1>
                <p class="uk-text-large">Start posting below</p>
            </div>
        </div>

    </div>
    <div class="uk-width-1-1 uk-container-center posts">
        <h2>Posts</h2>
        <ul>
            <li ng-repeat="post in posts | orderBy : 'createdAt' : true"><strong>{{post.createdAt | date:'short'}}</strong> {{post.text}}</li>
        </ul>
    </div>
    <div class="uk-width-1-1 uk-container-center">
        <div class="uk-vertical-align-middle uk-container-center" style="width: 100%;">

            <form class="uk-panel uk-panel-box uk-form">
                <div class="uk-form-row">
                    <p>Update your status:</p>
                    <input type="text" ng-model="input" style="width: 100%;" />
                    <input type="submit" class="uk-width-1-3 uk-button uk-button-primary uk-button-medium"
                      ng-click="send()" value="Send" />
                </div>
                <div class="uk-form-row" ng-show="error">
                  <div class="uk-alert uk-alert-danger">{{error}}</div>
                </div>
            </form>

        </div>
    </div>
</div>
